.productfinder #ajax-search-form {
	width: 100%;
}

#ajax-search-form .search-row.searching {
	opacity: 0.3;
}

.filter-toggle-row {
	display: none;
}

.filter-reset-row {
	display: block;
	margin-bottom: 30px;
}

.filter-reset-row.hidden {
	display: none;
}

.filter-reset-row .button {
	width: 100%;
	color: #fff;
	background: #78787a;
	display: inline-block;
	position: relative;
	padding: 10px 30px;
	transition: background 500ms ease;
	text-align: center;
	margin-top: 0;
}

.filter-reset-row .button:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 right: 0;
	 z-index: 99;
	 border-top: 25px solid #f4f4f4;
	 border-left: 15px solid transparent;
 }

.filter-reset-row .button:hover {
	background: #666667;
}

.productfinder .head {
	font-family: Dax-Medium;
	float: left;
	width: 100%;
	padding: 0 10px 13px;
	border-bottom: 1px solid #702283;
}

.si .productfinder .head {
	border-color: #0066a4;
}

.tx-vsproducts .product-variant,
.tx-vsproducts .product-related {
	float: left;
	clear: both;
	margin-bottom: 20px;
	width: 100%;
}
.tx-vsproducts .product-variant .button {
	margin-top:35px;
	float: left;
}
.tx-vsproducts .product-related {
	margin-bottom: 100px;
}

.product-related .product:last-child,
.product-variant .product:last-child {
	border-bottom: 1px dashed #aaaaac;
}

.tx-vsproducts .title,
.tx-vsproducts .group,
.tx-vsproducts .ordernr,
.tx-vsproducts .action {
	float: left;
	min-height: 1px;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	z-index: 1;
}

.tx-vsproducts .group p {
	margin-bottom: 0;
}

.tx-vsproducts .title {
	width: 53%;
	padding-right: 15px;
	/*width: 260px;*/
}

.tx-vsproducts .group {
	width: 25%;
	/*width: 180px;*/
}

.tx-vsproducts .ordernr {
	width: 15%;
	/*width: 118px;*/
	text-align: right;
}

.tx-vsproducts .action {
	width: 7%;
	/*width: 52px;*/
	text-align: right;
}

.si .tx-vsproducts .title {
	width: 58%;
	padding-right: 15px;
	/*width: 260px;*/
}

.si .tx-vsproducts .group {
	width: 20%;
	/*width: 180px;*/
}

.si .tx-vsproducts .ordernr {
	width: 15%;
	/*width: 118px;*/
	text-align: right;
}

.si .tx-vsproducts .action {
	width: 7%;
	/*width: 52px;*/
	text-align: right;
}

.tx-vsproducts .title a {
	color: #702283;
}

.si .tx-vsproducts .title a {
	color: #0066a4;
}

.title__link {
	position: relative;
}

/*.title__link::after{
    content: '';
    position: absolute;
    left: 0;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.title__link.desc::after { content: '(desc)'; }
.title__link.asc::after{ content: '(asc)'; }*/
.title__link.desc:after,
.title__link--active:after {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	right: -20px;
	border: solid transparent;
	border-bottom-color: #702283;
	border-width: 5px;
	border-bottom-width: 5px;
	pointer-events: none;
	transform: rotate(180deg);
	top: 8px;
}

.si .title__link.desc:after,
.si .title__link--active:after {
	border-bottom-color: #0066a4;
}

.title__link.asc::after {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	right: -20px;
	/* margin-left: 15px; */
	border: solid transparent;
	border-bottom-color: #702283;
	border-width: 5px;
	border-bottom-width: 5px;
	pointer-events: none;
	transform: rotate(0deg);
	top: 3px;
}

.si .title__link.asc::after {
	border-bottom-color: #0066a4;
}

.product {
	font-size: 15px;
	line-height: 20px;
	width: 100%;
	padding: 10px 10px 5px;
	position: relative;
	min-height: 40px;
	overflow: hidden;
}

.product:before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0; left: 0;
	opacity: 0;
	display: block;
	background: #33193d;
	background: -moz-linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
	background: -webkit-linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
	background: linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
	color: #fff !important;
	-webkit-transition: opacity 0.5s ease-out 0s;
	-moz-transition: opacity 0.5s ease-out 0s;
	-ms-transition: opacity 0.5s ease-out 0s;
	-o-transition: opacity 0.5s ease-out 0s;
	transition: opacity 0.5s ease-out 0s;
}

.product:not(:last-child) {
	border-bottom: 1px dashed #aaaaac;
}


.product:hover:before {
	opacity: 1;
/*	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;*/
}

.si .product:before {
	background: #33193d;
	background: -moz-linear-gradient(45deg, #33193d 0, #0066a4 100%);
	background: -webkit-linear-gradient(45deg, #33193d 0, #0066a4 100%);
	background: linear-gradient(45deg, #33193d 0, #0066a4 100%);
/*	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;*/
}

.product:hover,.product:hover a {
	color: #fff !important;
}

.tx-vsproducts .action form {
	margin-bottom: 0;
}

.product .action input[type=submit],
.product .action button.addForm,
.product .action button.removeForm {
	line-height: 23px;
	background: none;
	border: none;
	background-image: url(../Icons/plus%402x.png);
	background-size: 23px;
	background-repeat: no-repeat;
	background-position: calc(100% - 2px) 0;
	color: transparent;
	width: 100%;
	cursor: pointer;
	margin-top: -1px;
}
.product .action button:disabled,
.product .action button[disabled] {
    cursor: not-allowed;
}
.product:hover .action input[type=submit],
.product:hover .action button.addForm {
	background-image: url(../Icons/plus-white%402x.png);
}

.product .action .removeForm input[type=submit],
.product .action button.removeForm {
	background-image: url(../Icons/check-round%402x.png);
}

.si .product .action .removeForm input[type=submit],
.si .product .action button.removeForm {
	background-image: url(../Icons/check-round-blue%402x.png);
}

.product:hover .action .removeForm input[type=submit],
.product:hover .action button.removeForm {
	background-image: url(../Icons/check-round-white%402x.png);
}

#productResult {
	display: inline-block;
	width: 100%;
}

#productResult.searching {
	opacity: 0.3;
}

.no-filter-items {
	margin: 13px;
}

#productLoader {
	display: none;
	position: absolute;
	margin-left: calc(50% - 32px);
	margin-top: 20%;
	width: 64px;
	height: 64px;
}
#productLoader:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #979797;
	border-color: #979797 transparent #979797 transparent;
	animation: loader-dual-ring 1.2s linear infinite;
}
@keyframes loader-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Produkt wurde auf die Merkliste gesetzt Popup */
a.merkliste-trigger .popup {
	font-family: Dax-Light;
	color: #fff;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	width: 300px;
	padding: 15px 10px 16px 14px;
	margin-left: calc(50% - 150px);
	background: #702283;
	background-image: linear-gradient(45deg, #33193d 0%, #702283 47%, #7e3d90 100%);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 45px;
	z-index: 1000;
	display: none;
}

.si a.merkliste-trigger .popup {
	background: #0066a4;
}

a.merkliste-trigger .popup::after {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	border-bottom-color: #702283;
	border-width: 14px;
	border-bottom-width: 12px;
	margin-left: -14px;
	pointer-events: none;
}

.si a.merkliste-trigger .popup::after {
	border-bottom-color: #0066a4;
}

/* Filter Spalte */
.product-count {
	display: block;
	position: absolute;
	top: -40px;
}

.product-count.hidden {
	display: none;
}

#ajax-filter-form > fieldset.searching {
	opacity: 0.3;
}

.tx-vsproducts input#filterword,
.tx-vsproducts input#filterword-desk {
	background: transparent;
	width: 100%;
	height: 45px;
	padding: 10px 24px 8px;
	border: 1px solid #702283;
	margin-bottom: 28px;
}

.si .tx-vsproducts input#filterword,
.si .tx-vsproducts input#filterword-desk {
	border-color: #0066a4;
}

input#filterword + button,
input#filterword-desk + button {
	all: unset;
	border: none;
	background: transparent;
	position: absolute;
	right: 20px;
	top: 11px;
	padding: 0;
	z-index: 0;
}

input#filterword + button::before,
input#filterword-desk + button::before{
	display: none;
}

input#filterword + button::after,
input#filterword-desk + button::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(../Icons/search.svg);
	border-top: 0;
	border-left: 0;
}

.tx-vsproducts .filter {
	font-size: 15px;
}

#filter-toggle {
	display: none;
}

.tx-vsproducts .filter-heading {
	font-family: Dax-Medium;
	position: relative;
	overflow: hidden;
	margin-bottom: 17px;
}

.tx-vsproducts .filter-heading:after {
	content: ' ';
	position: absolute;
	bottom: 8px;
	margin-left: 5px;
	width: 100%;
	border-bottom: 1px solid #702283;
}

.si .tx-vsproducts .filter-heading:after {
	border-color: #0066a4;
}

.tx-vsproducts .filter-group + .filter-group {
	margin-top: 38px;
}

/* Checkboxen / Radiobuttons */
*:not(.extbase-debugger-tree) > input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
	position: relative;
	line-height: 20px;
	cursor: pointer;
	float: none;
	padding: 0 25px 0 35px;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}

input[type=checkbox] + label:before {
	content: '';
	width: 21px;
	height: 21px;
	background: url(../Icons/checkbox.svg);
	background-size: 21px 21px;
	position: absolute;
	left: 0;
	top: 0;
	border: none;
}

input[type=checkbox]:checked + label {
	font-family: Dax-Medium;
	color: #702283;
}

.si input[type=checkbox]:checked + label {
	color: #0066a4;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:checked + label:before {
	background: url(../Icons/checkbox-active-lila.svg);
	background-size: 21px 21px;
}

.si input[type=checkbox]:checked + label:before {
	background: url(../Icons/checkbox-active-blau.svg);
}

/* Info Popups */
.form-group {
	margin-bottom: 0;
	position: relative;
}

.form-group .parentgroup label p{
	margin-bottom: 0;
}
.form-group .parentgroup {
	position: relative;
	margin-bottom: 10px;
}

.form-group .subgroup {
	margin-left: 17px;
    position: relative;
}
.instruction-trigger,
.info-trigger {
	content: '';
	width: 20px;
	height: 20px;
	background: url(../Icons/info-neu.svg);
	background-size: 20px 20px;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
}
.instruction-trigger.active,
.instruction-trigger:hover,
.info-trigger:hover {
	background: url(../Icons/info-lila.svg);
}
.si .instruction-trigger.active,
.si .instruction-trigger:hover,
.si .info-trigger:hover {
	background: url(../Icons/info-blau.svg);
}

.info-trigger + .info-popup {
	display: none;
}

.info-trigger:hover + .info-popup {
	display: block;
}

/* Produkt wurde auf die Merkliste gesetzt Popup */
.instruction-tooltip,
.info-popup {
	font-family: Dax-Light;
	color: #fff;
	font-size: 15px;
	line-height: 19px;
	min-width: 520px;
	width: fit-content;
	padding: 20px 25px;
	transform: translateY(-50%);
	background: #702283;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 10px;
	left: calc(100% + 20px);
	z-index: 1000;
	display: none;
}
.instruction-tooltip {
	visibility: hidden;
	opacity: 0;
}
.instruction-tooltip p,
.info-popup p {
    margin-bottom: 0;
}
.instruction-tooltip a,
.info-popup a {
    color:#fff !important;
    font-family: Dax-Light;
	text-decoration: underline;
}

.si .info-popup {
	background: #0066a4;
}
.instruction-tooltip .title,
.info-popup strong {
	margin-bottom: 10px;
	display: block;
	font-family: Dax-Medium;
}
.instruction-tooltip::after,
.info-popup::after {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	top: calc(50% - 14px);
	left: -12px;
	border: solid transparent;
	border-right-color: #702283;
	border-width: 14px;
	border-right-width: 12px;
	margin-left: -14px;
	pointer-events: none;
}

.si .info-popup::after {
	border-right-color: #0066a4;
}

/* Merkliste */
.merkliste .product {
	padding: 4px 0;
}

.merkliste .product:first-child {
	border-top: 1px dashed #aaaaac;
}

.merkliste .product:last-child {
	border-bottom: 1px dashed #aaaaac;
}

.tx-vsproducts .merkliste .title,
.tx-vsproducts .merkliste .group,
.tx-vsproducts .merkliste .ordernr,
.tx-vsproducts .merkliste .action {
	padding-top: 6px;
}

.tx-vsproducts .merkliste .title {
	width: 390px;
}

.tx-vsproducts .merkliste .amount {
	width: 262px;
	float: left;
}

.tx-vsproducts .merkliste .group {
	width: 210px;
}

.tx-vsproducts .merkliste .ordernr {
	width: 116px;
}

.tx-vsproducts .merkliste .action {
	width: 40px;
	padding-top: 4px;
}

.merkliste .product .action input[type=submit] {
	background-image: url(../Icons/minus%402x.png);
}

.merkliste form.changeQuantityForm {
	margin-bottom: 0;
}

/* Anzahl */
input.qty {
	height: 30px;
	width: 80px;
	background: transparent;
	border: 1px solid #aaaaac;
	padding: 0 15px;
	text-align: right;
	float: left;
}

.product:hover input.qty {
	color: #fff;
	position: relative;
	border: 1px solid #aaaaac;
	z-index: 9;
}

.counters {
	float: left;
}

.amount a {
	width: 31px;
	height: 15px;
	display: block;
	border: 1px solid #aaaaaa;
	border-left: none;
	position: relative;
}

.amount a + a {
	height: 16px;
	margin-top: -1px;
}

a.increment_qty::after,
a.decrement_qty::after {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	top: -2px;
	left: 9px;
	border: solid transparent;
	border-bottom-color: #702283;
	border-width: 6px;
	border-bottom-width: 5px;
	pointer-events: none;
}

a.decrement_qty::after {
	transform: rotate(180deg);
	top: 4px;
}

.si a.increment_qty::after,
.si a.decrement_qty::after {
	border-bottom-color: #0066a4;
}

a.increment_qty:hover,
a.decrement_qty:hover {
	background: #702283;
}

.si a.increment_qty:hover,
.si a.decrement_qty:hover {
	background: #0066a4;
}

a.increment_qty:hover::after,
.product:hover a.increment_qty::after,
a.decrement_qty:hover::after,
.product:hover a.decrement_qty::after {
	border-bottom-color: #fff;
}

#noItemsAjax {
	font-family: Dax-Medium;
	margin-left: 38%;
}

#noItemsAjax a {
	color: #702283;
}

.si #noItemsAjax a {
	color: #0066a4;
}

.suggestgroup {
	font-family: Dax-Light, sans-serif;
	font-weight: normal;
	margin-left: 10px;
}
#chargeNumberList {
	border-top: 1px solid #702283;
	padding-top: 0;
}

#chargeNumberList li:first-child {
	border-top: 0;
}
.file {
	font-size: 15px;
	line-height: 20px;
	width: 100%;
	padding: 10px 10px 5px;
	position: relative;
	min-height: 40px;
	overflow: hidden;
}
.file:before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	display: block;
	background: #33193d;
	background: -moz-linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
	background: -webkit-linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
	background: linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
	color: #fff !important;
	-webkit-transition: opacity 0.5s ease-out 0s;
	-moz-transition: opacity 0.5s ease-out 0s;
	-ms-transition: opacity 0.5s ease-out 0s;
	-o-transition: opacity 0.5s ease-out 0s;
	transition: opacity 0.5s ease-out 0s;
}
.file:hover:before {
	opacity: 1;
}
.file:not(:last-child) {
	border-bottom: 1px dashed #aaaaac;
}

.file:hover, .file:hover a {
	color: #fff !important;
}
.pl-tip-container {
    position: relative;
    width: 7%;
    float: left;
    min-height: 1px;
    font-size: 15px;
    line-height: 20px;
    z-index: 1;
}
.pl-tip-inner {
    position: absolute;
    display: none;
    bottom: -30px;
    left: -145px;
    width: 350px;
}

.pl-tip {
    position: relative;
    padding: 10px;
    font-size: 15px;
    line-height: 20px;
    background-color: #702283;
    color: #fff;
    font-family: Dax-Light, sans-serif;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(45deg, #33193d 0%, #702283 42%, #7e3d90 100%);
}

.pl-tip-arrow {
    position: relative;
    width: 14px;
    margin: 0 auto;
    border-width: 14px;
    border-bottom-width: 12px;
    border-top-color: #702283;
    border-style: solid;
    color: transparent;
}

.pl-tip-inner.immu .pl-tip {
    background-color: #0066a4;
    background-image: linear-gradient(45deg, #33193d 0%, #0066a4 42%, #0066a4 100%);
}
.pl-tip-inner.immu .pl-tip-arrow {
    border-top-color: #0066a4;
}



/* MEDIA QUERIES */
@media (max-width: 1599px) {
	.tx-vsproducts .title,
	.si .tx-vsproducts .title {
		width: 285px;
	}

	.tx-vsproducts .merkliste .title,
	.si .tx-vsproducts .merkliste .title {
		width: 388px;
	}

	.tx-vsproducts .merkliste .group,
	.si .tx-vsproducts .merkliste .group {
		width: 236px;
	}

	#noItemsAjax {
		margin-left: 37%;
	}

    .pl-tip-inner {
        width: 270px;
        left: -105px;
    }

}
@media (max-width: 1399px) {
    .pl-tip-inner {
        width: 190px;
        left: -63px;
    }
}
@media (max-width: 1199px) {
	.tx-vsproducts .title,
	.si .tx-vsproducts .title {
		width: 195px;
	}

	.tx-vsproducts .group,
	.si .tx-vsproducts .group {
		width: 170px;
	}

	.tx-vsproducts .ordernr,
	.si .tx-vsproducts .ordernr {
		width: 110px;
	}

	.tx-vsproducts .action,
	.si .tx-vsproducts .action {
		width: 40px;
	}

	.tx-vsproducts .merkliste .title,
	.si .tx-vsproducts .merkliste .title {
		width: 398px;
	}

	.tx-vsproducts .merkliste .amount,
	.si .tx-vsproducts .merkliste .amount {
		width: 190px;
	}

	.tx-vsproducts .merkliste .group,
	.si .tx-vsproducts .merkliste .group {
		width: 188px;
	}

	#noItemsAjax {
		margin-left: 42.5%;
	}
    .pl-tip-container {
        width: 40px;
    }
    .pl-tip-inner {
        width: 160px;
        left: -55px;
    }
}

@media (max-width: 991px) {

	.productfinder #ajax-search-form {
		display: none;
	}

	.productfinder .head,
	.product {
		padding-left: 0;
	}

	.tx-vsproducts .title,
	.si .tx-vsproducts .title {
		width: 40%;
	}

	.tx-vsproducts .group,
	.si .tx-vsproducts .group {
		width: 33%;
	}

	.tx-vsproducts .ordernr,
	.si .tx-vsproducts .ordernr {
		width: 20%;
	}

	.tx-vsproducts .action,
	.si .tx-vsproducts .action {
		width: 7%;
	}

	/* Filter */
	.product-count {
		top: 45px;
	}
	.filter-reset-row {
		text-align: right;
	}

	.filter-reset-row .button {
		width: auto;
		background: transparent;
		padding: 0;
	}

	.filter-reset-row .button:hover {
		background: transparent;
	}

	.filter-reset-row .button:after {
		display: none;
	}

	.container.productfinder .filter {
		margin: 0 -60px 30px;
		padding: 10px 60px;
		background: #7e3d90;
		background: -moz-radial-gradient(50% 0, circle, #7e3d90 0%, #33193d 100%);
		background: -webkit-radial-gradient(50% 0, circle, #7e3d90 0%, #33193d 100%);
		background: radial-gradient(circle at 50% 0, #7e3d90 0%, #33193d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e3d90', endColorstr='#33193d', GradientType=1);
		color: #fff;
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	}

	.si .container.productfinder .filter {
		background: #0066a4;
		background: -moz-radial-gradient(50% 0, circle, #0066a4 0%, #33193d 100%);
		background: -webkit-radial-gradient(50% 0, circle, #0066a4 0%, #33193d 100%);
		background: radial-gradient(circle at 50% 0, #0066a4 0%, #33193d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066a4', endColorstr='#33193d', GradientType=1);
	}

	.filter-toggle-row {
		/*display: inline-block;*/
		display: flex;
		width: 100%;
	}

	#filter-toggle {
		display: block;
		float: left;
		width: 185px;
		color: #fff;
		font-size: 17px;
		position: relative;
		padding: 10px 0;
	}

	#filter-toggle::after {
		content: ' ';
		background-image: url('../../../../vs_sitepackage/Resources/Public/Images/Icons/menu-arrow.svg');
		background-repeat: no-repeat;
		width: 23px;
		height: 13px;
		display: block;
		position: absolute;
		right: 0;
		top: 15px;
		visibility: visible;
	}

	#filter-toggle.open::after {
		transform: rotate(180deg);
	}

	.filter-search {
		text-align: right;
		width: calc(100% - 185px);
		float: right;
	}

	.tx-vsproducts input#filterword {
		background: #fff;
		width: 286px;
		max-width: 100%;
		margin-bottom: 0;
	}

	#ajax-filter-form {
		margin-bottom: 0;
	}

	.filter-groups {
		margin-top: 40px;
		margin-bottom: 25px;
	}

	.tx-vsproducts .filter-heading:after,
	.si .tx-vsproducts .filter-heading:after {
		border-color: #fff;
	}

	input[type=checkbox]:checked + label,
	.si input[type=checkbox]:checked + label {
		color: #fff;
	}

	input[type=checkbox] + label:before,
	.si input[type=checkbox] + label:before {
		background: url(../Icons/checkbox-white.svg);
	}

	input[type=checkbox]:checked + label:before,
	.si input[type=checkbox]:checked + label:before {
		background: url(../Icons/checkbox-active-white.svg);
	}

	.filter-group.first, .filter-group.first + .filter-group {
		float: left;
		width: calc(50% - 25px);
		margin-top: 0;
		margin-right: 25px;
	}

	.filter-group.first + .filter-group {
		margin-right: 0;
		margin-left: 25px;
	}

	.filter-group.last {
		clear: both;
		margin-top: 40px;
		display: inline-block;
		width: 100%;
	}

	.filter-group.last .form-group {
		display: inline-block;
		width: calc(50% - 25px);
		margin-right: 50px;
	}

	.filter-group.last .form-group:nth-child(2n + 2) {
		margin-right: 0;
	}
	.instruction-tooltip,
	.info-popup,
	.si .info-popup {
		color: #702283;
		padding: 15px 20px;
		transform: none;
		background: #dfdfe0;
		top: initial;
		bottom: 48px;
		left: initial;
		right: -20px;
	}
	.si .instruction-tooltip,
	.si .info-popup {
		color: #0066a4;
	}
	.instruction-tooltip strong,
	.info-popup strong {
		margin-bottom: 0;
	}

	.instruction-tooltip::after,
	.info-popup::after,
	.si .info-popup::after {
		top: 100%;
		left: initial;
		right: 18px;
		border-color: transparent;
		border-top-color: #dfdfe0;
	}
	.instruction-trigger.active,
	.instruction-trigger:hover,
	.info-trigger:hover,
	.si .info-trigger:hover {
		background: url(../Icons/info-neu.svg);
	}

	/* Merkliste */
	.tx-vsproducts .merkliste .title,
	.si .tx-vsproducts .merkliste .title {
		width: 35%;
	}

	.tx-vsproducts .merkliste .amount,
	.si .tx-vsproducts .merkliste .amount {
		width: 20%;
	}

	.tx-vsproducts .merkliste .group,
	.si .tx-vsproducts .merkliste .group {
		width: 23%;
	}

	.tx-vsproducts .merkliste .ordernr,
	.si .tx-vsproducts .merkliste .ordernr {
		width: 15%;
	}

	.tx-vsproducts .merkliste .action,
	.si .tx-vsproducts .merkliste .action {
		width: 7%;
	}

	#noItemsAjax {
		margin-left: 25%;
	}
    .pl-tip-inner {
        display: none !important;
    }

	/* Auto Suggest */
	/*    form.autosuggestForm,
		form.formData button {
			margin-left: 25%;
		}

		!* Form *!
		form.formData label {
			width: 25%;
		}
		form.formData input,
		form.formData textarea {
			width: 485px;
		}
		form.formData input.city {
			width: 306px;
		}
		form.formData input.zip {
			width: 170px;
		}*/
}

@media (max-width: 767px) {
	.tx-vsproducts .group,
	.si .tx-vsproducts .group {
		display: none;
	}

	.tx-vsproducts .title,
	.si .tx-vsproducts .title {
		width: calc(60% - 20px);
	}

	.tx-vsproducts .ordernr,
	.si .tx-vsproducts .ordernr {
		width: calc(40% - 20px);
	}

	.tx-vsproducts .action,
	.si .tx-vsproducts .action {
		width: 40px;
	}

	.container.productfinder .filter {
		margin: 0 -20px 30px;
		padding: 10px 30px;
	}

	.filter-toggle-row {
		min-height: 45px;
	}

	.filter-search {
		width: calc(100% - 20px);
		text-align: left;
		position: absolute;
	}

	#filter-search-toggle {
		position: absolute;
		right: 22px;
		top: 12px;
	}

	#filter-search-toggle::after {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		background-image: url(../Icons/search-white.svg);
	}

	#filter-search-toggle.open::after {
		width: 22px;
		height: 21px;
		background-image: url(../../../../vs_sitepackage/Resources/Public/Images/Icons/close-white.svg);
	}

	.tx-vsproducts input#filterword {
		width: calc(100% - 70px);
	}

	input#filterword + button {
		right: 85px;
		z-index: 0;
	}

	.filter-group,
	.filter-group.last .form-group {
		width: 100% !important;
		margin: 0 !important;
	}

	.filter-group {
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(223, 223, 224, 0.5);
	}

	.filter-groups .filter-group:last-child {
		border: none;
	}

	.filter-groups {
		margin: 10px 0 15px;
	}

	.filter-group .form-group:first-child,
	.si .filter-group .form-group:first-child {
		margin-top: 20px !important;
	}

	.tx-vsproducts .filter-heading,
	.si .tx-vsproducts .filter-heading {
		font-size: 17px;
		font-family: Dax-Light;
		padding-top: 15px;
		margin-bottom: 0;
	}

	.tx-vsproducts .filter-heading:after,
	.si .tx-vsproducts .filter-heading:after {
		display: none;
	}

	.filter-heading::before {
		content: ' ';
		background-image: url('../../../../vs_sitepackage/Resources/Public/Images/Icons/menu-arrow.svg');
		background-repeat: no-repeat;
		width: 23px;
		height: 13px;
		display: block;
		position: absolute;
		right: 0;
		top: 15px;
		visibility: visible;
	}

	.filter-heading.open::before {
		transform: rotate(180deg);
	}

	/* Merkliste */
	.tx-vsproducts .merkliste .title,
	.si .tx-vsproducts .merkliste .title {
		width: 43%;
	}

	.tx-vsproducts .merkliste .amount,
	.si .tx-vsproducts .merkliste .amount {
		width: 25%;
	}

	input.qty,
	.si input.qty {
		width: 60px;
	}

	.tx-vsproducts .merkliste .ordernr,
	.si .tx-vsproducts .merkliste .ordernr {
		width: 22%;
	}

	.tx-vsproducts .merkliste .action,
	.si .tx-vsproducts .merkliste .action {
		width: 10%;
	}

	#noItemsAjax {
		margin-left: 0;
	}

	/* Auto Suggest */
	/*    form.autosuggestForm,
		input#addByAutosuggest,
		#autosuggest-container {
			width: 100%;
		}
		form.autosuggestForm,
		form.formData button {
			margin-left: 0;
		}

		!* Form *!
		form.formData label {
			width: 100%;
			text-align: left;
		}
		form.formData input,
		form.formData textarea {
			width: 100%;
			margin-bottom: 5px;
		}
		form.formData input.city {
			width: calc(65% - 10px);
		}
		form.formData input.zip {
			width: 35%;
		}*/

}

@media (max-width: 480px) {
	.tx-vsproducts .merkliste .title,
	.si .tx-vsproducts .merkliste .title {
		width: 65%;
		text-align: left;
	}
	.tx-vsproducts .merkliste .ordernr,
	.si .tx-vsproducts .merkliste .ordernr {
		width: 50%;
		text-align: left;
		padding-top: 15px;
	}

	.tx-vsproducts .merkliste .amount,
	.si .tx-vsproducts .merkliste .amount {
		width: 35%;
	}
	.tx-vsproducts .merkliste .action,
	.si .tx-vsproducts .merkliste .action {
		width: 50%;
		float: right;
		text-align: right;
		padding-right: 10px;
		padding-top: 15px;
	}

	input.qty,
    .si input.qty {
        width: calc(100% - 32px);
    }


	/*    form.formData input.city,
		form.formData input.zip {
			width: 100%;
		}*/
}
