
.files-list a {
    text-decoration: none;
    color: #000;
    font-family: Dax-Light;
    font-size: 15px;
}

.tx-download-explorer a:hover {
    text-decoration: none;
}

.tx-download-explorer > ul {
    padding: 0;
}

.tx-download-explorer .clearer {
    clear: both;
}
.tx-download-explorer .dirs {
    min-height: 300px;
}
.tx-download-explorer .dirs,
.files,
.tx-download-explorer .files-info {
    padding: 10px 0;
}

.files,
.tx-download-explorer .files-info {
    margin: 0;
    width: 100%;
}

.tx-download-explorer .files-info {
    font-style: italic;
}

.tx-download-explorer .files .dir,
.tx-download-explorer .files .file ul,
.tx-download-explorer .dirs .file {
    display: none;
}

.tx-download-explorer .dirs .dir {
    cursor: pointer;
    font-size: 15px;
    line-height: 30px;
}

/*.tx-download-explorer .dir.selected {
    font-weight: bold;
}*/
.tx-download-explorer .dir.selected * {
    font-weight: normal;
}

.download-explorer .file {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    padding: 10px 10px 5px;
    position: relative;
    min-height: 40px;
    overflow: hidden;
}
.file {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    padding: 10px 10px 10px 5px;
    position: relative;
    min-height: 40px;
    overflow: hidden;
}
.file:first-child {
    border-top:1px solid #702283;
}
.file:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: block;
    background: #33193d;
    background: -moz-linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
    background: -webkit-linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
    background: linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
    color: #fff !important;
    -webkit-transition: opacity 0.5s ease-out 0s;
    -moz-transition: opacity 0.5s ease-out 0s;
    -ms-transition: opacity 0.5s ease-out 0s;
    -o-transition: opacity 0.5s ease-out 0s;
    transition: opacity 0.5s ease-out 0s;
}
.si .file:first-child {
    border-top:1px solid #0066A4;
}
.si .file:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: block;
    background: #33193d;
    background: -moz-linear-gradient(45deg, #33193d 1%, #0066A4 100%);
    background: -webkit-linear-gradient(45deg, #33193d 1%, #0066A4 100%);
    background: linear-gradient(45deg, #33193d 1%, #0066A4 100%);
    color: #fff !important;
    -webkit-transition: opacity 0.5s ease-out 0s;
    -moz-transition: opacity 0.5s ease-out 0s;
    -ms-transition: opacity 0.5s ease-out 0s;
    -o-transition: opacity 0.5s ease-out 0s;
    transition: opacity 0.5s ease-out 0s;
}
.file:hover:before {
    opacity: 1;
}
.file:not(:last-child) {
    border-bottom: 1px dashed #aaaaac;
}

.file:hover, .file:hover a {
    color: #fff !important;
    position: relative;
    z-index: 1;
}

.file .filetype,.file .filename, .file .filedate, .file .filesize {
    position: relative;
    z-index: 1;
    float: left;
    min-height: 1px;
    font-size: 15px;
    line-height: 20px;
}

.tx-download-explorer .file .filename {
    width: 39%;
    padding-right: 15px;
    padding-left: 5px;
}
.file .filename {
    width: 60%;
    padding-right: 15px;
    /*padding-left: 5px;*/
}
.tx-download-explorer .file .filedate {
    width: 50%;
}
.file .filedate {
    width: 20%;
}
.file .filesize {
    float: right;
}
/*
.backlink {
    padding-left: 25px;
}
.backlink:before {
    content: " ";
    background-image: url(../Images/Icons/arrow-right-lila.svg);
    margin-top: 5px;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 15px;
    height: 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}*/


