
#news_button{
    width: 450px;
    height: 70px;
    margin: 60px auto;
}

#news_button .news_button_item{
    position: relative;
    display: inline-block;
    min-width: 150px;
    padding: 10px 15px;
    margin: 0px 10px;
    background-color: #3E9ED6;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
    border: 1px solid;
    border-color: #2f71a3 #265a82 #1e4766 #265a82;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: inset 0px -4px 5px rgba(255,255,255,0.2), inset 0px 1px 5px rgba(255,255,255,0.2), /**/ 0px 2px 0px #1e4766, 0px 4px 0px #1e4766, 0px 6px 0px #1e4766, /**/ 0px 8px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -4px 5px rgba(255,255,255,0.2), inset 0px 1px 5px rgba(255,255,255,0.2), /**/ 0px 2px 0px #1e4766, 0px 4px 0px #1e4766, 0px 6px 0px #1e4766, /**/ 0px 8px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px -4px 5px rgba(255,255,255,0.2), inset 0px 1px 5px rgba(255,255,255,0.2), /**/ 0px 2px 0px #1e4766, 0px 4px 0px #1e4766, 0px 6px 0px #1e4766, /**/ 0px 8px 5px rgba(0,0,0,0.5);
    
}

#news_button a{
    transition-duration: 0.4s, 0.5s;
    transition-property: background-color, color;
    transition-timing-function: ease, ease;
}


#news_button a:hover{

    color: #0088CC;
    text-decoration: underline;

}

#news_button .news_button_item:hover{
    /*background-color: #8AC5FD; */
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(134,193,253)), color-stop(0.49, rgb(153,213,255)), color-stop(0.5, rgb(130,194,253)), color-stop(1, rgb(108,170,229)) );
    background-image: -moz-linear-gradient( center top, rgb(134,193,253) 0%, rgb(153,213,255) 49%, rgb(130,194,253) 50%, rgb(108,170,229) 100% );
}
}

#news_title{
    margin-bottom: 30px;
}

#news_title p{
    font-size: 26px;
    color: #707070;
    text-align: center;
}


#news_button button:hover{
    background-color: #4478D5;
    cursor: pointer;
}

#app{
    width: 60%;
    margin: auto;
}

.news_two p {
    margin: 0
}

.news_two a {
    color: #ccc;
    text-decoration: none
}

.news_two ol, .news_two ul {
    list-style: none
}

.news_two h1, .news_two h2, .news_two h3, .news_two h4, .news_two h5, .news_two h6 {
    font-size: 12px;
    font-weight: 400
}

.news_two {
    overflow: hidden;
}

.news_two em, .news_two i {
    font-style: normal
}

.news_two img {
    display: block;
    border: 0
}

.news_two input {
    border: none;
    background: 0 0
}

.news_two input, .news_two textarea {
    font-family: "微软雅黑", Arial;
    outline: 0;
    font-size: 14px
}


.news_two img {
    border: 0;
    vertical-align: top
}


.news_two input, .news_two textarea {
    font-family: "寰蒋闆呴粦", Arial;
    outline: 0;
    font-size: 14px;
    -webkit-appearance: none
}



.news_two_bg {
    width: 100%;
    height: auto
}

.news_two {
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    font-family: Arial, "微软雅黑";
    width: 100%;
    min-width: 1100px;
}

.news_two_box {
    width: 100%;
    height: 159px;
    border: 1px solid transparent;
    position: relative;
    background: #f7f7f7;
    transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s
}

.news_two_ul {
    height: auto;
    overflow: hidden;
    padding: 20px;
    width: 100% ；
}

.news_two_nav {
    width: 100%;
    padding-left: 20px
}

.news_two_ul li {
    width: 100%;
    height: 159px;
    border: 1px solid transparent;
    margin-bottom: 20px
}

.news_two_txt span {
    font-size: 16px;
    color: #717171;
    display: block;
    height: 24px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .3s ease-out 0s
}

.news_two_box:hover .news_two_txt span {
    color: #333
}

.news_two_txt i {
    height: 52px;
    color: #A2A2A2;
    line-height: 24px;
    display: block;
    overflow: hidden;
    transition: all .3s ease-out 0s
}

.news_two_box:hover .news_two_txt i {
    color: #999
}

.news_two_txt {
    width: 56%;
    float: left;
    margin: 36px 0 28px 34px;
    transition: all .3s ease-out 0s
}

.news_two_box:hover .news_two_txt {
    margin: 36px 0 28px 54px
}

.news_two_date {
    width: 180x;
    float: right;
    font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
    color: #999;
    padding: 36px 66px 0 0;
    transition: all .3s ease-out 0s
}

.news_two_box:hover .news_two_date {
    padding: 36px 43px 0 0
}

.news_two_date span {
    height: 26px;
    font-size: 19px;
    font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"
}

.news_two_date i {
    font-size: 13px;
    font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"
}
.news_two_but {
    position: absolute;
    top: 100px;
    right: 105px
}

.news_two_box:hover {
    border: 1px solid #efefef;
    box-shadow: 0 6px 10px 5px rgba(0, 0, 0, .08)
}

.news_two_box:hover .news_two_img {
    background: #ccc;
    background: #ccc
}

.news_two_box:hover .ser_but {
    background: #ccc;
    border: 1px solid #ccc;
    margin: 0 -60px
}


.news_two_img {
    width: 230px;
    position: relative;
    overflow: hidden;
    height: 157px;
    float: left;
    transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
}

.news_two_img img {
    width: auto !important;
    height: 100% !important;
    min-width: 220px;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    position: absolute !important;
}

.news_thr_ico a:hover {
    color: #1bb2e8
}

@CHARSET "UTF-8";
* {
    padding: 0;
    margin: 0;
}


