@font-face {
    font-family: 'FontAwesome';
    src: url('../../../css/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../../../css/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../../../css/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('../../../css/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('../../../css/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('../../../css/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}


@media(max-width: 1250px){
    #detecting_service .menu-list{
        width: 100%;
        height: 400px;
        margin-bottom: 40px;
    }

    #detecting_service .iframe-box{
        width: 100%;
    }

    #detecting_service{
        width: 85%;
    }

}

@media(min-width: 1250px){
    #detecting_service .menu-list{
        width: 250px;
        height: 800px;
    }
    #detecting_service{
        width: 1340px;
    }
}




@media(min-width: 1200px) {
    #detecting_service .first-content{
        padding-left: 45px;
    }
}

@media(max-width: 992px){
    #detecting_service .first-content{
        padding-left: 20px;
    }
}

#detecting_service{
    margin: auto;
}

#detecting_service .menu-list{
    max-width: 1000px;
    display: block;
    margin-right: 40px;

    padding: 0;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    overflow-y: auto;
    float: left;
    /*min-width: 160px;*/
}
#detecting_service .menu-list li{
    cursor: pointer;
    overflow: hidden;
}

/*修改2018/8/9*/
.detecting-sidebar > h4 {
    font-family: 'Yesteryear', cursive;
    font-size: 35px;
    text-align: left;
    font-weight: 400;
    margin: 20px 10px;
}

.detecting-sidebar > h5 {
    font-family: 'Yesteryear', cursive;
    font-size: 28px;
    text-align: left;
    font-weight: 400;
    margin: 20px 10px;
}

.detecting-checkbox ul li {
    list-style: none;
    display: block;
    padding-right: 25px;
    margin: 0 0 5px 0;
    position: relative;
}

.detecting-checkbox ul li input {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-left: 30px;
}

.detecting-checkbox ul li a {
    font-size: 13px;
    margin-left: 24px;
    font-weight: 400;
    display: inline-block;
    color: #555;
}

#detecting_service  .first-title{
    list-style-type: none;
    height: 50px;
    width: 100%;
    background: #fff;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(rgba(255,255,255,1),0),color-stop(rgba(246,246,246,1),0.74),color-stop(rgba(237,237,237,1),1));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    display: block;
    line-height: 50px;
    padding-left: 10px;
}

#detecting_service .first-title-arrow-right:before{
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #ccc;
    transform: scale(180deg);

}
#detecting_service .first-title-arrow-down:before{
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #888;
    transform: scale(180deg);
}


#detecting_service .first-content{
    /*padding-left: 45px;*/
    display: none;
}

#detecting_service .first-content li{
    padding: 10px 0;
    list-style-type: disc;
}
#detecting_service .second-title{
    line-height: 20px
}
#detecting_service .second-title-arrow-right:before{
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #ccc;
    transform: scale(180deg);

}
#detecting_service .second-title-arrow-down:before{
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #888;
    transform: scale(180deg);
}
#detecting_service .second-content{
    padding-left: 15px;
    display: none;
}
#detecting_service .second-content li{
    list-style-type: square;
}
#detecting_service .iframe-box{

}

#detecting_service .iframe-box iframe{
    width: 1050px;
    max-width: 100%;
    height: 840px;
}