#services{
    height: 1450px;
}

.service-item{
    margin: 40px 90px;
    font-family: myriad set pro,helvetica neue,Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}
.item-title{
    background-color: #2B91ED;
    padding: 10px;
    display: inline-block;
}

.item-text{
    padding: 30px;
    background-color: #eee;
    box-shadow: 1px 1px 1px gray;
    line-height: 2.5em;
    text-indent: 2em;
}