/* JOBS */
.tx_vsjobs {
	margin-bottom: 25px;
}
/* Liste */
.job-list {
	margin: 0 -10px 50px;
}

.job-list .job {
	border-bottom: 1px dashed #979797;
	display: flex;
	width: 100%;
	position: relative;
	padding: 10px 10px 8px;
	line-height: 20px;
	font-size: 15px;
}
.job-list .job:first-child {
	border-top: 1px dashed #979797;
}

.job-list .job:not(.simple):before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	display: block;
	z-index: -1;
	background: #33193d;
	background: -moz-linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
	background: -webkit-linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
	background: linear-gradient(45deg, #33193d 1%, #7e3d90 100%);
	color: #fff !important;
	-webkit-transition: opacity 0.5s ease-out 0s;
	-moz-transition: opacity 0.5s ease-out 0s;
	-ms-transition: opacity 0.5s ease-out 0s;
	-o-transition: opacity 0.5s ease-out 0s;
	transition: opacity 0.5s ease-out 0s;
}
.job-list .job:not(.simple):hover:before {
	opacity: 1;
	color: #fff !important;
}
.job-list .job:not(.simple):hover a {
	color: #fff !important;
}
.job-list .job a {
	font-family: Dax-Light;
	width: 100%;
	line-height: 20px;
	font-size: 15px;
}

.job-list .title {
    float: left;
    width: calc(100% - 150px);
}
.job-list .datefrom {
	float: right;
	width: 150px;
	text-align: right;
}

/* National */
.job-detail .backlink-wrap {
    margin-bottom: 40px;
	margin-top: 40px;
}


/* Media Queries */
@media (max-width: 767px) {
	.job-list .title {
	    width: 100%;
	}
	.job-list .datefrom {
		width: 100%;
		text-align: left;
	}
}