body{
  background-color: #fff;
}

svg {
  width: 100%;
  height: 100px;
  /*position: absolute;*/
  top: 0px;
  left: 0px;
  z-index: 0;
}

.input {
  /*position: absolute;*/
  display: none;
  z-index: 1;
  bottom: 0px;
  font-size: 20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-family: helvetica, sans-serif;
  bottom: 20px;
  border: 1px solid #ddd;
  color: #eee;
}

.text, .offscreen-text {
  width: 100%;
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
  display: block;
  position: absolute;
  margin: 0;
}

.offscreen-text {
  text-align: center;
  top: -9999px;
}

.text span {
  position: absolute;
}

/*virion/serion*/

.pageswitch{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 140px;
}
.container-fluid{
  width: 99%;
  /*padding-right: 10px;*/
  /*padding-left: 10px;*/
  margin-right: auto;
  margin-left: auto;
}

.container-fluid .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.pageswitch .item:first-child {
  padding: 130px 0;
  margin-right: -205px;
  float: left;
}

.pageswitch .item {
  color: #fff;
  width: calc(50% + 205px);
  position: relative;
  text-align: center;
  overflow: hidden;
}

.pageswitch .item.lila .item-bg {
  background: -moz-linear-gradient(30deg, #33193d 0%, #7e3d90 80%, #7e3d90 100%);
  background: -webkit-linear-gradient(30deg, #33193d 0%, #7e3d90 80%, #7e3d90 100%);
  background: linear-gradient(30deg, #33193d 0%, #7e3d90 80%, #7e3d90 100%);
}

.pageswitch .item:first-child .item-bg {
  z-index: 2;
}

.pageswitch .item .item-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewX(30deg);
  transform-origin: bottom left;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.pageswitch .item {
  color: #fff;
  width: calc(50% + 205px);
  position: relative;
  text-align: center;
  overflow: hidden;
}

.pageswitch .item:first-child .item-content {
  float: right;
  margin-right: 335px;
  z-index: 2;
  position: relative;
}

.pageswitch .item .item-content {
  width: 600px;
}

.pageswitch .item {
  color: #fff;
  width: calc(50% + 205px);
  position: relative;
  text-align: center;
  overflow: hidden;
}

.pageswitch .item .item-content .switch-logo {
  max-width: 420px;
  margin-bottom: 30px;
}

.pageswitch .item .item-content a:hover{
  cursor: pointer;
}

.content img {
  max-width: 100%;
  height: auto;
}

.pageswitch .item:first-child .bgimage {
  left: 12%;
}

.pageswitch .item .bgimage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transform: skewX(-30deg);
}

.pageswitch .item p {
  font-size: 20px;
  line-height: 50px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.pageswitch .item a {
  color: #fff;
  font-size: 20px;
  padding: 12px 42px 11px;
  border: 1px solid #fff;
  margin-top: 15px;
  display: inline-block;
}

.pageswitch .item:last-child {
  padding: 120px 0;
  margin-left: -205px;
  float: right;
  top: 42px;
}

.pageswitch .item.blau .item-bg {
  background-image: radial-gradient(circle at 25% 0%, #0066a4, #33193d);
}

.pageswitch .item:last-child .item-bg {
  transform: skewX(30deg);
  transform-origin: top left;
  box-shadow: none;
  z-index: 1;
}
.pageswitch .item .item-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewX(30deg);
  transform-origin: bottom left;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.pageswitch .item:last-child .item-content {
  margin-left: 390px;
  z-index: 2;
  position: relative;
}

/*.pageswitch .item:hover .bgimage {*/
/*  opacity: 1;*/
/*}*/